.private-host {
  display: flex;
  gap: var(--bp-space-xs);
  border-top: var(--bp-object-border-width-100) solid var(--bp-object-border-color-100);
  align-items: center;
  padding: var(--padding);
  width: 100%;
}

:host {
  width: calc(100% + calc(var(--padding) * 2)) !important;
}
