:host {
  --padding: var(--bp-size-5) var(--bp-size-6);
  --filter: drop-shadow(var(--bp-object-shadow-200));
  --background: var(--bp-layer-popover-background);
  --color: var(--bp-layer-popover-color);
  --border-radius: var(--bp-object-border-radius-100);
  --width: max-content;
  --height: max-content;
  --min-width: max-content;
  --min-height: max-content;
  --font-size: var(--bp-text-size-200);
  --opacity: 0;
  --internal-offset-margin: calc(-1 * var(--padding));
  display: contents;
}

:host([closable]) {
  --padding: var(--bp-size-6) var(--bp-size-9) var(--bp-size-6) var(--bp-size-6);
}

dialog {
  color: var(--color);
  background: var(--background);
  filter: var(--filter);
  padding: var(--padding);
  border: 0;
  display: flex;
  flex-direction: column;
  width: var(--width);
  height: var(--height);
  min-width: var(--min-width);
  min-height: var(--min-height);
  font-size: var(--font-size);
  opacity: var(--opacity);
  border-radius: var(--border-radius);
  overflow: visible;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9999;
}

bp-button-icon {
  position: absolute;
  top: var(--bp-size-6);
  right: var(--bp-size-6);
  z-index: 1;
}

.focus-wrap {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.content {
  flex-grow: 1;
}

[part='arrow'] {
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--background);
  border-radius: var(--border-radius);
}

:host([position*='top']) [part='arrow'] {
  transform: translate(0, -4px) rotate(-45deg);
  border-left: var(--border);
  border-bottom: var(--border);
}

:host([position*='right']) [part='arrow'] {
  transform: translate(4px, 0) rotate(45deg);
  border-left: var(--border);
  border-bottom: var(--border);
}

:host([position*='bottom']) [part='arrow'] {
  transform: translate(0, 4px) rotate(45deg);
  border-top: var(--border);
  border-left: var(--border);
}

:host([position*='left']) [part='arrow'] {
  transform: translate(-4px, 0) rotate(45deg);
  border-top: var(--border);
  border-right: var(--border);
}

/* animation display */
:host(:not([hidden])) {
  --opacity: 1;
}

:host([hidden]) {
  display: contents !important;
  pointer-events: none !important;
}

dialog[hidden] {
  display: flex !important;
}
