:host {
  --border: var(--bp-object-border-width-100) solid var(--bp-object-border-color-200);
  --border-radius: var(--bp-object-border-radius-100);
}

[part='internal'] {
  --internal-border: var(--border);
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  width: fit-content;
}

::slotted(bp-button-icon) {
  --width: var(--bp-interaction-touch-target);
  --height: var(--bp-interaction-touch-target);
  --border: var(--internal-border);
  --padding: var(--bp-size-4);
}
