:host {
  --border: var(--bp-object-border-width-100) solid var(--bp-object-border-color-200);
  --border-radius: var(--bp-object-border-radius-100);
}

[part='internal'] {
  --internal-border: var(--border);
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  width: fit-content;
}

::slotted(bp-button-icon) {
  --padding: calc(var(--bp-size-4) - var(--bp-size-2)) var(--bp-size-4);
  --border: var(--internal-border);
}
