:host {
  --border-right: var(--bp-object-border-width-100) solid transparent;
  --border-bottom: var(--bp-object-border-width-100) solid transparent;
  --flex-direction: row;
}

[part='internal'] {
  display: flex;
  flex-direction: var(--flex-direction);
  border-right: var(--border-right);
  border-bottom: var(--border-bottom);
}

@container style(--layout: vertical) {
  :host {
    --border-right: var(--bp-object-border-width-100) solid var(--bp-object-border-color-300);
    --border-bottom: 0;
    --flex-direction: column;
  }
}

@container style(--layout: horizontal) {
  :host {
    --border-bottom: var(--bp-object-border-width-100) solid var(--bp-object-border-color-300);
    --border-right: 0;
  }
}
