dist
.wireit
_site
CHANGELOG.md
README.md
LICENSE.md
custom-elements.lock.json
*.examples.js
projects/docs/src/**/*
projects/icons/src/shapes/*.ts
projects/examples/**/*
internals/templates/**/*
pnpm-lock.yaml
pnpm-workspace.yaml
.drafter
.performance
.wireit
.coverage