:host {
  --bp-interaction-outline-offset: calc(-1 * var(--bp-size-200));
  --background: inherit;
  --color: var(--bp-text-color-500);
  --padding: var(--bp-size-400) var(--bp-size-600);
  --gap: var(--bp-space-md);
  --border: 0;
  --border-inline: var(--bp-size-200) solid transparent;
  --border-inline-start: var(--bp-size-200) solid transparent;
}

[part='internal'] {
  padding: var(--padding);
  color: var(--color);
  cursor: var(--cursor);
  gap: var(--gap);
  border-inline: var(--border-inline);
  border-inline-start: var(--border-inline-start);
  border: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

:host(:state(selected)) {
  --border-inline-start: var(--bp-size-200) solid var(--bp-interaction-accent-background);
}

:host(:state(disabled)) {
  --color: var(--bp-interaction-disabled-color);
  --bp-interaction-offset: 0;
}
