:host {
  --icon-color: var(--bp-text-color-500);
  --color: var(--bp-text-color-500);
  --font-size: var(--bp-text-size-200);
  --font-weight: var(--bp-text-weight-regular);
  --text-wrap: nowrap;
  display: block;
  width: 100%;
}

[part='internal'] {
  color: var(--color);
  gap: var(--bp-space-xs);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  text-wrap: var(--text-wrap);
  display: flex;
  align-items: center;
}

::slotted([slot='icon']),
[part='icon'] {
  --color: var(--icon-color);
}

::slotted(p) {
  margin: 0;
}

[part='close'] {
  --color: currentcolor;
}

:host([status='accent']) {
  --icon-color: var(--bp-status-accent-background-200);
}

:host([status='success']) {
  --icon-color: var(--bp-status-success-background-200);
}

:host([status='warning']) {
  --icon-color: var(--bp-status-warning-background-300);
}

:host([status='danger']) {
  --icon-color: var(--bp-status-danger-background-200);
}

:host([_group]) [part='close'] {
  margin-left: auto;
}
