/* https://github.com/web-platform-tests/interop/issues/208 */

bp-grid-row:has(bp-grid-cell:first-child bp-checkbox:state(checked)),
bp-grid-row:has(bp-grid-cell:first-child bp-radio:state(checked)) {
  --bp-interaction-offset: var(--bp-interaction-selected-offset);
}

bp-grid-cell[role='rowheader']:first-child {
  --bp-interaction-offset: var(--bp-interaction-selected-offset);
  --cell-border-width: var(--bp-size-100);
}

bp-grid-row bp-grid-cell:last-child {
  --border-right: 0;
}

bp-grid[row-style*='border'] bp-grid-row:last-child {
  --border-bottom: 0 !important;
}

bp-grid-cell:has(bp-button-handle) {
  --padding-inline: var(--bp-size-400);
}

bp-grid:has(bp-virtual-list) {
  bp-grid-header {
    overflow-y: scroll;
  }
}

bp-grid[column-style*='border'] bp-grid-row {
  --cell-border-width: var(--border-width);
  --border-top: 0;
  --border-bottom: 0;
}

bp-grid[row-style*='border'] bp-grid-row {
  --border-top: var(--border-width) solid var(--border-color);
}

bp-grid[row-style*='border'] bp-grid-row:last-of-type {
  --border-bottom: var(--border-width) solid var(--border-color);
}

bp-grid[row-style*='border'] bp-grid-row:first-of-type {
  --border-top: 0;
}

bp-grid[row-style*='stripe'] bp-grid-row {
  --border-top: 0;
  --border-bottom: 0;
}

bp-grid[row-style*='stripe'] bp-grid-row:nth-child(even) {
  --bp-interaction-offset: var(--bp-interaction-hover-offset);
}

bp-grid[row-style*='hover'] bp-grid-row:hover {
  --bp-interaction-offset: var(--bp-interaction-hover-offset);
}

bp-grid bp-grid-row:not([bp-draggable='target']):first-of-type {
  --box-shadow: var(--border-width) solid transparent;
}
