[hidden] {
  display: none !important;
}

:host {
  --background: var(--bp-layer-background-200);
  --body-height: auto;
  --body-min-height: auto;
  --column-height: var(--bp-size-900);
  --row-height: var(--bp-size-900);
  --scroll-padding-top: var(--column-height);
  --row-content-visibility: auto;
  --border: 0;
  --border-width: var(--bp-object-border-width-100);
  --border-color: var(--bp-object-border-color-100);
  width: 100%;
  display: block;
  position: relative;
}

:host([range-selection]) {
  user-select: none;
}

:host([layer='flat']) {
  --background: inherit !important;
  --border-color: var(--bp-object-border-color-200);
}

[part='internal'] {
  border: var(--border);
  border-radius: var(--bp-object-border-radius-100);
  background: var(--background);
  position: relative;
}

.scroll-container {
  scrollbar-color: var(--bp-scrollbar-color);
  scrollbar-width: var(--bp-scrollbar-width);
  box-shadow: var(--box-shadow);
  border: var(--border);
  height: var(--body-height, 100%);
  min-height: var(--body-min-height, auto);
  scroll-padding-top: var(--scroll-padding-top);
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

:host([scroll-lock]) .scroll-container {
  overflow: hidden;
}

.body-row-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  min-width: fit-content;
  margin-top: var(--bp-size-200);
}

slot[name='header'] {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  position: sticky;
  top: 0;
  z-index: 99;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
