:host {
  --accent-color: var(--bp-status-accent-background-200);
  --height: var(--bp-size-700);
  width: 100%;
}

[part='internal'] {
  display: flex;
  align-items: center;
}

input {
  accent-color: var(--accent-color);
  height: var(--height);
  width: 100%;
  margin: 0;
}
