#carbonads {
  display: flex;
  max-width: 360px;
  min-width: 300px;
  background: var(--bp-layer-container-background-200);
  box-shadow: 0 1px 4px 1px hsl(0deg 0% 0% / 10%);
  z-index: 100;
  border-radius: 6px;
  overflow: hidden;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  display: block;
  align-self: center;
  margin: 0 !important;
  padding: 0 !important;
  background: var(--bp-layer-container-background-200) !important;
  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  font-size: 13px;
  padding: 8px 12px 16px !important;
  line-height: 1.5;
  text-align: left;
  margin: 0 !important;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 2px;
  right: 0;
}
