/* PrismJS 1.15.0
/**
 * prism.js Visual Studio Code Theme
 * @author Visual Studio Code
 */

code[class*='language-'],
pre[class*='language-'],
pre.highlight {
  color: #9cdcfe;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  border-radius: 4px;
  margin: 0;
  width: 100%;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #242832;
}

pre[class*='language-'] {
  padding: 12px;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #608b4e;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.namespace,
.token.deleted {
  color: #4ec9b0;
}

.token.attr-name {
  color: #9cdcfe;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean {
  color: #569cd6;
}

.token.number {
  color: #b5cea8;
}

.token.function {
  color: #dcdcaa;
}

.token.property,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.class-name {
  color: #4ec9b0;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #c586c0;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #ce9169;
}

.token.operator {
  color: #d4d4d4;
}

.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

/* TypeScript */
.language-jsx .token:not(.keyword) + .token.keyword + .token.keyword + .token.keyword,
.language-jsx .token:not(.keyword) + .token.keyword + .token.keyword + .token.keyword + .token.class-name + .token.keyword,
.language-jsx .token.function-variable.function + .token.operator + .token.keyword {
  color: #569cd6;
}

/* JSX */
.language-jsx .language-javascript {
  color: #9cdcfe;
}

.language-jsx .language-javascript .token.string {
  color: #ce9169;
}

.language-jsx .language-javascript .token.punctuation {
  color: #3f9cd6;
}

.language-jsx .language-javascript .script-punctuation + .token.punctuation + .token.punctuation {
  color: #d4d4d4;
}

.language-jsx .language-javascript .script-punctuation + .token.punctuation + .token.punctuation ~ .token.punctuation {
  color: #d4d4d4;
}

.language-jsx .language-javascript .script-punctuation + .token.punctuation + .token.punctuation ~ .token.punctuation + .token.punctuation {
  color: #3f9cd6;
}

.post pre {
  padding: 1em;
  line-height: 1.45;
  overflow-wrap: normal;
  overflow: auto;
}
