[focusable] {
  outline-offset: calc(var(--bp-size-200) * -1) !important;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    [focusable] {
      outline-offset: calc(var(--bp-size-300) * -1) !important;
    }
  }
}

:host(:focus) [focusable] {
  outline: var(--bp-interaction-outline);
  outline: var(--bp-interaction-outline-webkit); /* stylelint-disable-line declaration-block-no-duplicate-properties */
  outline-offset: calc(var(--bp-size-200) * -1) !important;
}

:host(:focus-within) [focusable] {
  outline: 0;
}
