:host {
  --background: transparent;
  --color: var(--bp-text-color-500);
  --width: initial;
  display: block;
}

[part='internal'] {
  width: var(--width);
  background: var(--background);
  color: var(--color);
  display: flex;
  flex-direction: column;
}
