a,
::slotted(a) {
  color: var(--color) !important;
  text-decoration: none !important;
  outline: 0;
}

a::after,
::slotted(a)::after {
  display: block;
  content: '';
  inset: 0;
  position: absolute;
  z-index: 999;
}

a:focus::after,
:host(:focus-within) ::slotted(a)::after {
  outline: var(--bp-interaction-outline);
  outline: var(--bp-interaction-outline-webkit); /* stylelint-disable-line declaration-block-no-duplicate-properties */
  outline-offset: var(--bp-interaction-outline-offset);
}
