/* :host {
  --box-shadow: var(--bp-object-shadow-100);
}

:host([elevation='flat']) {
  --box-shadow: none;
  --border: var(--bp-object-border-width-100) solid var(--bp-object-border-color-100);
} */

:host([elevation='raised']) {
  --box-shadow: var(--bp-object-shadow-100);
}

[elevation] {
  box-shadow: var(--box-shadow);
  border: var(--border);
}

:host([elevation='none']) {
  --box-shadow: none;
  --border: 0;
  --padding: 0;
}
