:host {
  container-type: inline-size;
  contain: initial;
}

[part='internal'] {
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header'
    'main main';
}

slot[name='header'] {
  grid-area: header;
  display: block;
  position: sticky;
  top: 0;
  z-index: 99;
}

main {
  grid-area: main;
  padding: var(--padding, 18px 12px);
  overflow: auto;
  height: calc(100vh - 48px);
}

[part='internal']:has(bp-drawer:popover-open) main {
  overflow: hidden;
}

bp-drawer {
  --padding: var(--bp-size-900) 0 0 0;
  grid-area: nav;
  position: fixed;
  top: 0;
  z-index: 98;
}

[part='internal'].app-breakpoint {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'header header'
    'nav main';
}

.app-breakpoint main {
  padding: var(--padding, 24px);
  scroll-padding-top: var(--padding, 24px);
}

::slotted([bp-layout*='inline:end']) {
  margin-left: auto !important;
}
