:host {
  --divider-width: var(--bp-object-border-width-400);
  --divider-color: var(--bp-object-border-color-200);
  --divider-color-hover: var(--bp-object-border-color-300);
  --divider-color-active: var(--bp-status-accent-background-200);
  --divider-color-focus: var(--bp-status-accent-background-300);
  --divider-hit-area: var(--bp-size-300);
  --prefix-size: 50%;
  display: grid;
  grid-template-columns: var(--prefix-size) auto 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:host([vertical]) {
  grid-template-columns: 1fr;
  grid-template-rows: var(--prefix-size) auto 1fr;
}

.prefix-pane {
  overflow: auto;
  min-width: 0;
  min-height: 0;
}

.suffix-pane {
  overflow: auto;
  min-width: 0;
  min-height: 0;
}

bp-button-resize {
  --width: var(--divider-width);
  --background: var(--divider-color);
  --height: 100%;
  z-index: 1;
}

:host([vertical]) bp-button-resize {
  --width: 100%;
  --height: var(--divider-width);
}

bp-button-resize:hover {
  --background: var(--divider-color-hover);
}

bp-button-resize:active {
  --background: var(--divider-color-active);
}

bp-button-resize:focus {
  --background: var(--divider-color-focus);
}

:host([disabled]) bp-button-resize {
  cursor: not-allowed;
  opacity: 0.5;
}
