:host {
  --divider-width: var(--bp-size-100);
  --divider-color: var(--bp-layer-border-100);
  --divider-color-hover: var(--bp-layer-border-200);
  --divider-color-active: var(--bp-object-border-accent-100);
  --divider-color-focus: var(--bp-object-border-accent-200);
  --divider-hit-area: 11px;

  display: grid;
  grid-template-columns: auto var(--divider-width) auto;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:host([vertical]) {
  grid-template-columns: 100%;
  grid-template-rows: auto var(--divider-width) auto;
}

.pane {
  overflow: auto;
  min-width: 0;
  min-height: 0;
}

bp-button-resize {
  --background: var(--divider-color);
  --width: var(--divider-width);
  --height: 100%;
  cursor: col-resize;
  z-index: 1;
}

:host([vertical]) bp-button-resize {
  --width: 100%;
  --height: var(--divider-width);
  cursor: row-resize;
}

bp-button-resize:hover {
  --background: var(--divider-color-hover);
}

bp-button-resize:active {
  --background: var(--divider-color-active);
}

bp-button-resize:focus-visible {
  --background: var(--divider-color-focus);
  outline: var(--bp-object-border-accent-200) solid var(--bp-border-width-100);
  outline-offset: calc(-1 * var(--bp-border-width-100));
}

:host([disabled]) bp-button-resize {
  cursor: default;
  opacity: 0.6;
}
