:host {
  --color: var(--bp-text-color-500);
  --font-size: var(--bp-text-size-200);
  --min-width: var(--bp-space-xl);
  --max-width: initial;
  --text-wrap: wrap;

  min-width: var(--min-width);
  max-width: var(--max-width);
}

[part='internal'] {
  color: var(--color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  gap: var(--bp-size-300);
  text-wrap: var(--text-wrap);
  line-height: 1em;
  align-items: center;
  display: flex;
}

:host([status='error']) {
  --color: var(--bp-status-danger-background-200);
}

:host([status='success']) {
  --color: var(--bp-status-success-background-200);
}
