:host {
  --padding: var(--bp-size-600);
  --filter: drop-shadow(var(--bp-object-shadow-200));
  --background: var(--bp-layer-background-200);
  --color: var(--bp-text-color-500);
  --width: max-content;
  --height: max-content;
  --min-width: max-content;
  --min-height: max-content;
  --font-size: var(--bp-text-size-300);
  --internal-offset-margin: calc(-1 * var(--padding));
  border: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  display: revert;
}

:host([closable]) {
  --padding: var(--bp-size-600) var(--bp-size-900) var(--bp-size-600) var(--bp-size-600);
}

[part='internal'] {
  color: var(--color);
  background: var(--background);
  filter: var(--filter);
  padding: var(--padding);
  border: 0;
  display: flex;
  flex-direction: column;
  width: var(--width);
  height: var(--height);
  min-width: var(--min-width);
  min-height: var(--min-height);
  font-size: var(--font-size);
  overflow: visible;
}

bp-button-icon {
  position: absolute;
  top: var(--bp-size-600);
  right: var(--bp-size-600);
  z-index: 1;
}

.focus-wrap {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.content {
  flex-grow: 1;
}

[part='arrow'] {
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--background);
}

:host([position*='top']) [part='arrow'] {
  transform: translate(0, -3px) rotate(-45deg);
  border-left: var(--border);
  border-bottom: var(--border);
}

:host([position*='right']) [part='arrow'] {
  transform: translate(3px, 0) rotate(45deg);
  border-left: var(--border);
  border-bottom: var(--border);
}

:host([position*='bottom']) [part='arrow'] {
  transform: translate(0, 3px) rotate(45deg);
  border-top: var(--border);
  border-left: var(--border);
}

:host([position*='left']) [part='arrow'] {
  transform: translate(-3px, 0) rotate(45deg);
  border-top: var(--border);
  border-right: var(--border);
}
