.private-host {
  display: flex;
  border-bottom: var(--bp-object-border-width-100) solid var(--bp-object-border-color-100);
  padding: var(--padding);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  align-items: center;
  min-height: var(--bp-size-9);
  overflow: hidden;
}

::slotted(img) {
  object-fit: cover;
  width: calc(100% + var(--padding) * 2);
  margin: calc(var(--padding) * -1);
}
