:host {
  --width: var(--bp-interaction-touch-target);
  --height: var(--bp-interaction-touch-target);
  --background: var(--bp-layer-background-100);
  --color: var(--bp-text-200);
  --border-color: var(--bp-border-200);
  --border-radius: var(--bp-border-radius-100);
  --padding: var(--bp-spacing-100);
  --background-hover: var(--bp-layer-background-200);
  --background-pressed: var(--bp-layer-background-200);
  --color-pressed: var(--bp-accent-700);
  --border-color-pressed: var(--bp-accent-700);
  --cursor: pointer;
  width: var(--width);
  height: var(--height);
  display: inline-flex;
}

:host(:state(disabled)) {
  --cursor: default;
  opacity: 0.4;
}

:host(:state(readonly)) {
  --cursor: default;
  --pointer-events: none;
}

:host(:hover:not(:state(disabled)):not(:state(readonly))) {
  --background: var(--background-hover);
}

:host([checked]) {
  --background: var(--background-pressed);
  --color: var(--color-pressed);
  --border-color: var(--border-color-pressed);
}

:host(:active:not(:state(disabled)):not(:state(readonly))) [part='button'] {
  transform: translateY(calc(var(--bp-size-100) / 2));
}

[part='button'] {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  cursor: var(--cursor);
  pointer-events: var(--pointer-events, auto);
}

[part='icon'] {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
}

bp-icon,
::slotted(bp-icon) {
  --color: inherit;
  cursor: var(--cursor) !important;
}
