:host {
  --label-width: var(--group-label-width, 200px);
  --control-width: 1fr;
  --cursor: pointer;
  contain: inherit;
  width: 100%;
}

[part='internal'] {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: var(--label-width) var(--control-width) minmax(0, 150px);
  grid-template-areas:
    'label label label'
    'input input input'
    'message message message';
  align-items: center;
  gap: var(--bp-space-xs);
}

[part='internal'].no-message {
  grid-template-areas:
    'label label label'
    'input input input';
}

[part='internal'].no-label {
  grid-template-areas:
    'input input input'
    'message message message';
}

[part='internal'].no-label.no-message {
  grid-template-areas: 'input input input';
}

:host([layout~='horizontal']) [part='internal'],
:host([layout~='horizontal-inline']) [part='internal'] {
  grid-template-areas:
    'label input input'
    '. message message';
}

:host([layout~='horizontal']) [part='internal'].no-message,
:host([layout~='horizontal-inline']) [part='internal'].no-message {
  grid-template-areas: 'label input input';
}

:host([layout~='compact']) [part='internal'] {
  grid-template-areas: 'label input message';
}

:host([layout~='compact']) [part='internal'].no-label {
  grid-template-areas: 'input message';
  grid-template-columns: var(--control-width) auto;
}

[part='internal'].inline-control {
  --control-width: auto;
  --label-width: auto;
  grid-template-areas:
    'input label'
    'message message';
  grid-template-columns: var(--control-width) var(--label-width);
  width: fit-content;
}

[part='internal'].inline-control.no-message {
  grid-template-areas: 'input label';
}

:host([control-width='shrink']) {
  --control-width: max-content;
  width: fit-content;
}

:host([control-width='shrink']) ::slotted(bp-field-message) {
  --min-width: initial;
}

.input-container {
  grid-area: input;
  display: flex;
  align-items: center;
}

slot {
  display: flex;
  width: 100%;
}

slot[name='label'] {
  grid-area: label;
  gap: var(--bp-size-300);
}

slot[name='message'] {
  grid-area: message;
}

:host(:state(disabled)) slot[name='label'] {
  color: var(--bp-status-disabled-background-200);
}

::slotted(label) {
  cursor: var(--cursor) !important;
}

:host(:state(disabled)) ::slotted(bp-field-message) {
  --color: var(--bp-status-disabled-background-200);
}

:host(:state(disabled)) {
  --cursor: not-allowed;
}

:host(:state(error)) ::slotted(bp-field-message),
:host(:state(invalid)) ::slotted(bp-field-message),
::slotted(bp-field-message[error]) {
  --color: var(--bp-status-danger-background-200);
}

:host(:state(success)) ::slotted(bp-field-message) {
  --color: var(--bp-status-success-background-200);
}
