$theme-green: #90d98a;

/* http://csswizardry.com/2012/06/single-direction-margin-declarations/ */
html {
  font-size: 16px;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl, blockquote, p, address,
table, fieldset, figure, pre, .header, img {
  margin: 0;
  margin-bottom: 1.5rem;
}

body {
  font-family: 'Ubuntu', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #2d2d2d;
  background-color: #fff;
}

h1 {
  line-height: 1em;
}

h2 {
  border-bottom: 1px solid #ccc;
}

p {
  margin-bottom: 24px;
}

a {
  color: darken($theme-green, 25%);
}

header {
  padding: 24px 0;
  text-align: center;

  h1 {
    font-size: 3.5em;
  }
}

footer {
  padding: 12px 0;
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.main-nav {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 200px;
  }
    
  .main-nav {
    display: block;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    overflow: scroll;
    width: 160px;
    margin: 20px;
    position: fixed;

    a {
      display: block;
      padding: 10px 0;
    }
  }
}

@media (min-width: 1160px) {
  .container {
    padding-left: 150px;
  }
    
  .main-nav {
    left: 20px;
    right: 20px;
  }
}

@media (min-width: 1480px) {
  .container {
    padding: 0;
  }
}

.demo, .demo-spacing {
  background-color: $theme-green;
  color: #fff;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  font-size: 1.1em;
  display: block;
}

.demo-spacing {
  padding: 0;
}

.demo-spacing-wrap {
  overflow: hidden;
  background-color: #ccc;
}

blockquote {
  padding: 0 10px 0 20px;
  border-left: 5px solid #ddd;
  color: #777;
}

@media (min-width: 620px) {
  .demo {
    padding: 20px;
  }
}

.source-panel {
  margin-bottom: 62px;
  overflow-x: scroll;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: scroll;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  width: 100%;
  background: #fff;
  margin-bottom: 24px;

  td, th {
    border: 1px solid #ccc;
    padding: .5em;
    text-align: left;
    font-size: .9em;
  }
}

p code, .highlight {
  background-color: lighten($theme-green, 10%);
}

.btn {
  padding: 10px 20px;
  border: 2px solid $theme-green;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  color: darken($theme-green, 15%);
  background-color: #fff;
  display: inline-block;

  &:hover {
    color: #fff;
    background-color: $theme-green;
  }
}

.text-center {
  text-align: center;
}

.anchor {
  color: #2d2d2d;
  text-decoration: none;
}

.heart {
  width: 16px;
  height: 16px;
  fill: #C05361;
}

.theme-color {
  color: $theme-green;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.bounceIn {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
     -webkit-transform: scale3d(.9, .9, .9);
     transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
     animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  display: inline-block;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.bounceIn:hover {
  animation-play-state: paused;
  animation-play-state: running;
}