/* https://github.com/web-platform-tests/interop/issues/208 */
bp-grid-row:has(bp-checkbox:--checked),
bp-grid-row:has(bp-radio:--checked) {
  --bp-interaction-offset: var(--bp-interaction-selected-offset);
}

bp-grid-row:has(bp-button-expand[checked]) {
  --bp-interaction-hover-offset: 0;
}

/* if row detail open don't apply a row header style */
bp-grid:has(bp-grid-detail:not([hidden])) [role='rowheader']:not(:hover) {
  --bp-interaction-offset: 0;
}
