:host {
  --min-height: var(--bp-size-900, var(--bp-interaction-touch-target));
  --padding-block: 0;
  --padding-inline: var(--bp-size-600);
}

[part='internal'] {
  min-height: var(--min-height);
  display: flex;
  align-items: center;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  border-top: var(--border-width) solid var(--border-color);
  color: var(--bp-text-color-500);
  background: var(--background);
  font-size: var(--bp-text-size-200);
  width: 100%;
}

::slotted(bp-pagination),
::slotted(bp-pagination-input) {
  margin-left: auto;
}
