:host {
  --cursor: move !important;
  --icon-width: var(--bp-size-8);
  --icon-height: var(--bp-size-8);
  -webkit-user-drag: element !important;
  user-select: none !important;
}

:host([pressed]) {
  --color: var(--bp-status-accent-background-200);
}
