:host {
  --padding: 0;
  --background: var(--bp-layer-header-background);
  --color: var(--bp-layer-header-color);
  --height: var(--bp-size-900);
  --font-size: var(--bp-text-size-200);
  --gap: 0;
  width: 100%;
}

[part='internal'] {
  height: var(--height);
  padding: var(--padding);
  background: var(--background);
  gap: var(--gap);
  color: var(--color);
  width: 100%;
  display: flex;
  align-items: center;
}

::slotted([bp-layout*='end']) {
  margin-left: auto !important;
}

::slotted(bp-button) {
  --background: inherit;
  --border-radius: 0;
  --min-width: fit-content;
  --color: inherit;
  --height: 100%;
  height: 100%;
}

::slotted(bp-button) {
  --transform: none !important;
}
