:host {
  --padding: 0;
  --background: var(--bp-layer-header-background);
  --color: var(--bp-layer-header-color);
  --height: var(--bp-size-900);
  --font-size: var(--bp-text-size-200);
  --gap: 0;
  width: 100%;
}

[part='internal'] {
  height: var(--height);
  padding: var(--padding);
  background: var(--background);
  gap: var(--gap);
  color: var(--color);
  width: 100%;
  display: flex;
  align-items: center;
}
