:host {
  --width: 100%;
  --height: 1rem;
  --background: var(--bp-layer-background-200);
  --border-radius: var(--bp-object-border-radius-100);
  --animation-duration: calc(var(--bp-animation-duration-300) * 5);
  display: inline-block;
  width: var(--width);
  height: var(--height);
}

[part='internal'] {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--background);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
}

:host([shape='circle']) {
  --border-radius: 50%;
}

/* Pulse effect */
:host([effect='pulse']) [part='internal'] {
  animation: bp-skeleton-pulse var(--animation-duration) ease-in-out infinite;
}

@keyframes bp-skeleton-pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

:host([effect='sheen']) [part='internal']::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* stylelint-disable-next-line */
  background: linear-gradient(90deg, transparent 0%, hsl(from currentColor h s l / 0.2) 50%, transparent 100%);
  animation: bp-skeleton-sheen var(--animation-duration) ease-in-out infinite;
}

@keyframes bp-skeleton-sheen {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
