:host {
  --color: var(--bp-text-color-400);
  --font-size: var(--bp-text-size-300);
  --font-weight: inherit;
  width: 100%;
  contain: inherit;
}

[part='internal'] {
  color: var(--color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background: var(--background);
  padding: var(--bp-size-600) var(--bp-size-600) var(--bp-size-600) var(--bp-size-1000);
}
