:host {
  --color: var(--bp-text-color-400);
  --font-size: var(--bp-text-size-300);
  --font-weight: inherit;
  --background: var(--bp-layer-container-background);
  width: 100%;
  contain: inherit;
}

.private-host {
  color: var(--color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background: var(--background);
  padding: var(--bp-size-6) var(--bp-size-6) var(--bp-size-6) var(--bp-size-10);
}
