:host {
  --background: transparent;
  --border-bottom: var(--bp-object-border-width-200) solid transparent;
  --border-right: var(--bp-object-border-width-200) solid transparent;
}

[part='internal'] {
  background: var(--background);
  border-bottom: var(--border-bottom);
  border-right: var(--border-right);
  padding: 12px;
}

@container style(--layout: horizontal) {
  :host([selected]) {
    --border-bottom: var(--bp-object-border-width-200) solid var(--bp-interaction-accent-background);
  }
}

@container style(--layout: vertical) {
  :host([selected]) {
    --border-right: var(--bp-object-border-width-200) solid var(--bp-interaction-accent-background);
  }
}

[interaction] {
  background: var(--background) !important;
}
