@import './../../../styles/_config';

.nav {
  float: left;
  width: 240px;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: lighten($color-grey-light, 1%);

  &__link {
    display: block;
    padding: 10px 14px;
    text-decoration: none;
    color: $color-font; 

    &:hover {
      background-color: darken($color-grey-light, 5%);
    }
  }
}

.docs-container {
  margin-left: 240px;
  width: calc(100% - 240px);
  max-width: 1200px;
  padding: 16px;
  float: left;

  @media (min-width: $lg-break) {
    padding: 20px;
  }
}