:host {
  --color: var(--bp-text-color-500);
  --padding: var(--bp-size-400) var(--bp-size-600);
  --font-size: var(--bp-text-size-200);
  --border: 0;
  --border-left: var(--bp-object-border-width-200) solid transparent;
  --min-height: calc(var(--bp-size-800) + var(--bp-size-400));
}

[part='internal'] {
  padding: var(--padding);
  color: var(--color);
  cursor: var(--cursor);
  outline-offset: calc(-1 * var(--bp-space-3));
  font-size: var(--font-size);
  min-height: var(--min-height);
  border: 0;
  border-left: var(--border-left);
  display: flex;
  align-items: center;
  text-decoration: none;
  line-height: 1em;
}

a,
::slotted(a) {
  color: var(--color) !important;
  text-decoration: none !important;
  container-type: initial !important;
  outline: 0;
}

a::after,
::slotted(a)::after {
  display: block;
  content: '';
  inset: 0;
  position: absolute;
  z-index: 999;
}

a:focus::after,
:host(:focus-within) ::slotted(a)::after {
  outline: var(--bp-interaction-outline); /* stylelint-disable-line declaration-block-no-duplicate-properties */
  outline: var(--bp-interaction-outline-webkit); /* stylelint-disable-line declaration-block-no-duplicate-properties */
  outline-offset: calc(var(--bp-interaction-outline-offset) * -1);
}

:host([tabindex='0']:focus) {
  outline-offset: calc(var(--bp-interaction-outline-offset) * -1);
}

::slotted(bp-icon) {
  --width: var(--bp-size-600);
  --height: var(--bp-size-600);
}

:host(:not(:state(group-expanded))) [default] {
  display: none;
}

:host(:state(group-expanded)) [part='internal'] {
  gap: var(--bp-space-sm);
}

:host(:state(selected)) [part='internal'] {
  --border-left: var(--bp-object-border-width-200) solid var(--bp-interaction-accent-background);
}
