:host {
  --box-shadow: none;
  --color: var(--bp-text-color-500);
  --padding: var(--bp-size-4);
  --gap: var(--bp-space-md);
  content-visibility: var(--row-content-visibility, auto);
  flex: 1;
}

[part='internal'] {
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  min-height: var(--bp-size-8);
  background: var(--background);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
  position: relative;
  grid-column: 1 / -1;
  color: var(--color);
  text-align: center;
}

:host([draggable='false']) [part='internal'] {
  min-height: var(--bp-size-10);
}

:host([bp-draggable*='target']) {
  --box-shadow: inset 0 var(--bp-object-border-width-300) 0 calc(var(--bp-size-1) * -1)
    var(--bp-interaction-accent-background);
}
