bp-button-group > bp-button::part(private-host) {
  border-radius: 0;
}

bp-button-group > bp-button:first-child::part(private-host) {
  border-top-left-radius: var(--bp-object-border-radius-100);
  border-bottom-left-radius: var(--bp-object-border-radius-100);
}

bp-button-group > bp-button:last-child::part(private-host) {
  border-top-right-radius: var(--bp-object-border-radius-100);
  border-bottom-right-radius: var(--bp-object-border-radius-100);
}
