$color-primary: #4E7AC7;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 10%);
$color-grey: #ccc;
$color-grey-light: #f3f3f3;
$color-white: #fff;
$color-font: #2d2d2d;

$sm-break: 480px;
$md-break: 720px;
$lg-break: 960px;
$xl-break: 1440px;
