body {
  background-color: $color-white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

[bp~='container'] {
  padding: 12px;
}

app-docs {
  *[bp~='grid'] {
    margin-bottom: $gutter;
  }
}

app-root {
  flex: 1;
}

.footer {
  padding: 12px;
  margin-top: 12px;
  overflow: hidden;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  padding: 0 12px;
}

.demo,
.demo-spacing,
.demo-utils div,
[bp~='grid'].demo-grid > div,
[bp-layout~='row'].demo-grid > div > div {
  background-color: $color-primary;
  color: $color-white;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  font-size: 1em;
  display: block;

  @media (min-width: 620px) {
    padding: 20px;
  }
}

[bp~='grid'].demo-grid [bp~='grid'] > div {
  background: $color-primary-light; 
}

.demo-spacing {
  padding: 0;
}

.demo-spacing-wrap {
  overflow: hidden;
  background-color: $color-grey-light;
}

.banner {
  background-color: $color-primary-dark;
  color: $color-white;
  padding: 24px 24px 36px 24px;

  @media (min-width: $lg-break) {
    padding: 40px 24px 65px 24px;
  }
}

li-tabs {
  --li-tabs-button-selected-border-color: #{$color-primary};
}

li-side-nav {
  --li-side-nav-width: 240px;
  --li-side-nav-background-color: #{lighten($color-grey-light, 1%)};
  --li-side-nav-hover-background-color: #{darken($color-grey-light, 5%)};
  --li-side-nav-color: #{$color-font};

  a {
    padding: 12px 16px;
    color: $color-font;
  }

  @media(min-width: $lg-break) {
    --li-side-nav-top: 58px;
  }
}

li-nav-bar {
  --li-nav-bar-background-color: #{$color-primary};
  --li-nav-bar-color: #{$color-white};
  --li-nav-bar-hover-background-color: #{$color-primary-dark};
  margin-bottom: 0;

  a {
    color: $color-white;
  }

  .logo-img {
    width: 100%;
    max-width: 24px;
    margin-right: 14px;
    float: left;
  }
}

.header-offset {
  width: 100%;
  height: 56px;
}