body {
  background-color: $color-white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

[bp~='container'] {
  padding: 12px;
}

app-docs {
  *[bp~='grid'] {
    margin-bottom: $gutter;
  }
}

app-root {
  flex: 1;
}

.header {
  margin-bottom: 12px;
  background-color: $color-primary;
  display: block;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 99;

  .logo-img {
    width: 100%;
    max-width: 30px;
    float: left;
    margin: 12px 2px 12px 12px;
  }
}

.header-offset {
  width: 100%;
  height: 50px;
}

.header-nav {
  &__link {
    padding: 16px 8px;
    text-decoration: none;
    display: block;
    color: $color-white;
    float: right;

    &:hover {
      background-color: darken($color-primary, 10%);
    }

    @media (min-width: $md-break) {
      padding: 16px 14px;
    }
  }
}

.logo {
  float: left;
}

.footer {
  background-color: $color-grey-light;
  padding: 12px;
  margin-top: 12px;
  overflow: hidden;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  padding: 0 12px;
}

.demo, .demo-spacing {
  background-color: $color-primary;
  color: $color-white;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  font-size: 1em;
  display: block;

  @media (min-width: 620px) {
    padding: 20px;
  }
}

.demo-spacing {
  padding: 0;
}

.demo-spacing-wrap {
  overflow: hidden;
  background-color: $color-grey-light;
}

.banner {
  background-color: $color-primary-dark;
  color: $color-white;
  padding: 24px 24px 36px 24px;

  @media(min-width: $lg-break) {
    padding: 40px 24px 65px 24px;
  }
}