:host {
  line-height: 0;
}

[part='internal'] {
  display: flex;
  flex-direction: column;
}

[direction='up'],
[direction='down'] {
  --color: var(--bp-interaction-default-color);
}

:host(:--ascending) [direction='up'],
:host(:--descending) [direction='down'] {
  --color: var(--bp-status-accent-background-200);
}

:host(:--ascending) [direction='down'],
:host(:--descending) [direction='up'] {
  --color: var(--bp-interaction-disabled-color);
}
