:host {
  --min-height: var(--bp-size-9, var(--bp-interaction-touch-target));
  --padding-block: 0;
  --padding-inline: var(--bp-size-6);
}

[part='internal'] {
  min-height: var(--min-height);
  display: flex;
  align-items: center;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  border-top: var(--cell-border-width, var(--bp-object-border-width-100)) solid var(--bp-object-border-color-100);
  color: var(--bp-text-color-500);
  background: var(--background);
  font-size: var(--bp-text-size-200);
  width: 100%;
}

::slotted(bp-pagination),
::slotted(bp-pagination-input) {
  margin-left: auto;
}
