$container-width: 1000px;
$sm-break: 30em;  // 480px
$md-break: 45em;  // 720px
$lg-break: 60em;  // 960px
$xl-break: 90em;  // 1440px
$gutter: 16px;
$cols: 12;

$small-spacing: 4px;
$medium-spacing: 16px;
$large-spacing: 24px;