@mixin generateVerticalAxisAlignment($breakpoint: null) {
  [#{$layout}~='#{$block}'] {
    &[#{$layout}~='#{$block}:#{$start}#{$breakpoint}'] {
      justify-content: start;
    }

    &[#{$layout}~='#{$block}:#{$end}#{$breakpoint}'] {
      justify-content: end;
    }

    &[#{$layout}~='#{$block}:#{$center}#{$breakpoint}'] {
      justify-content: center;
    }

    &[#{$layout}~='#{$inline}:#{$start}#{$breakpoint}'] {
      align-items: start;
    }

    &[#{$layout}~='#{$inline}:#{$end}#{$breakpoint}'] {
      align-items: end;
    }

    &[#{$layout}~='#{$inline}:#{$center}#{$breakpoint}'] {
      align-items: center;
    }

    &[#{$layout}~='#{$center}#{$breakpoint}'] {
      align-items: center;
      justify-content: center;
    }
  }
}

@mixin generateVerticalStretch($breakpoint: null) {
  [#{$layout}~='#{$block}'] {
    &[#{$layout}~='#{$align}:#{$block-stretch}#{$breakpoint}'] {
      justify-content: stretch;

      & > * {
        flex-grow: 1;
      }
    }

    &[#{$layout}~='#{$align}:#{$inline-stretch}#{$breakpoint}'] {
      align-items: stretch;
    }

    &[#{$layout}~='#{$align}:#{$stretch}#{$breakpoint}'] {
      align-items: stretch;
      justify-content: stretch;

      & > * {
        flex-grow: 1;
      }
    }
  }
}

@mixin generateVerticalItemAlignment($breakpoint: null) {
  [#{$layout}~='#{$block}'] {
    & > [#{$layout}~='#{$center}#{$breakpoint}'] {
      align-self: center;
      margin-block: auto;
    }

    & > [#{$layout}~='#{$block}:#{$start}#{$breakpoint}'] {
      margin-block-end: auto;
    }

    & > [#{$layout}~='#{$block}:#{$end}#{$breakpoint}'] {
      margin-block-start: auto !important;
    }

    & > [#{$layout}~='#{$block}:#{$center}#{$breakpoint}'] {
      margin-block: auto;
    }

    & > [#{$layout}~='#{$inline}:#{$start}#{$breakpoint}'] {
      margin-inline-end: auto;
    }

    & > [#{$layout}~='#{$inline}:#{$end}#{$breakpoint}'] {
      margin-inline-start: auto;
    }

    & > [#{$layout}~='#{$inline}:#{$center}#{$breakpoint}'] {
      align-self: center;
    }
  }
}

[#{$layout}~='#{$block}'] {
  container-type: block-size;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

@include generateVerticalAxisAlignment();
@include generateVerticalItemAlignment();
@include generateVerticalStretch();

@each $breakpoint, $breakpoint-value in $bp-layout-breakpoints {
  @include container($breakpoint-value) {
    @include generateVerticalAxisAlignment($breakpoint);
    @include generateVerticalItemAlignment($breakpoint);
    @include generateVerticalStretch($breakpoint);
  }
}
