/*!
    Core Flex Grid v0.2.2
    http://splintercode.github.io/core-flex-grid/
    License MIT 2015
*/

$container-width: 1000px;
$sm-break: 33.75em;
$md-break: 45em;
$lg-break: 60em;
$cols: 12;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: $container-width;
}

.flex-row, .flex-row--middle, .flex-row--top, .flex-row--bottom, .flex-row--center, .flex-row--reverse, .flex-row--around, .flex-row--between, .flex-row--full, .flex-row--bottom-none {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}

.flex-row--middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-row--top {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-row--bottom {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.flex-row--center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-row--reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex-row--around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.flex-row--between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-row--full > .col, .flex-row--full > [class^="col-"] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-row--bottom-none > .col, .flex-row--bottom-none > [class^="col-"] {
    padding: 0 8px 0 8px;
}

.col, [class^="col-"] {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 8px 16px 8px;
}

[class^="col-"] {
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.first-col {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.last-col {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

@mixin columnGenerator($suffix) {
    @for $i from 1 through $cols {
        .col-#{$i}--#{$suffix} {
            -webkit-flex: 0 0 1 * percentage($i/$cols);
            -ms-flex: 0 0 1 * percentage($i/$cols);
            flex: 0 0 1 * percentage($i/$cols);
            max-width: percentage($i/$cols);
        }
    }

    .show--#{$suffix} {
        display: block;
    }

    .hide--#{$suffix} {
        display: none;
    }

    .first-col--#{$suffix} {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .last-col--#{$suffix} {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
}

@for $i from 1 through $cols {
    .col-#{$i} {
        -webkit-flex: 0 0 1 * percentage($i/$cols);
        -ms-flex: 0 0 1 * percentage($i/$cols);
        flex: 0 0 1 * percentage($i/$cols);
    }
}

@media (min-width: $sm-break) {
    @include columnGenerator('sm');
}

@media (min-width: $md-break) {
    @include columnGenerator('md');
}

@media (min-width: $lg-break) {
    @include columnGenerator('lg');
}

/* #region --- Contain Box wrappers --- */
$col-width: ($container-width / 12);

@for $i from 1 through $cols {
    .#{'contain'}--#{$i} {
        max-width: ($col-width * $i);
    }
}

[class^="contain--"] {
    width: 100%;
}
/* #endregion */

/* #region --- Layout helpers --- */
.display-none {
    display: none;
}

.display-none-important {
    display: none !important;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.visible-hidden {
    visibility: hidden;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

.full-width {
    width: 100%;
}

/* Margin and Padding Helpers */
.margin-top {
    margin-top: 24px;
}

.margin-bottom {
    margin-bottom: 24px;
}

.margin-top-small {
    margin-top: 12px;
}

.margin-bottom-small {
    margin-bottom: 12px;
}

.padding-bottom-none {
    padding-bottom: 0;
}
/* #endregion */
