:host {
  --color: inherit;
  --icon-color: var(--color);
  --padding: var(--bp-size-500) var(--bp-size-600);
  --border: 0;
  --height: 100%;
  --font-size: var(--bp-text-size-200);
  height: var(--height);
}

[part='internal'] {
  padding: var(--padding);
  color: var(--color);
  cursor: var(--cursor);
  gap: var(--bp-space-sm);
  font-size: var(--font-size);
  outline-offset: calc(-1 * var(--bp-space-3));
  height: 100%;
  text-decoration: none;
  display: flex;
  border: 0;
  align-items: center;
}

a,
::slotted(a) {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
}

a::after,
::slotted(a)::after {
  display: block;
  content: '';
  inset: 0;
  position: absolute;
  z-index: 999;
}

::slotted(bp-icon) {
  --color: var(--icon-color);
}

:host([bp-layout*='inline:end']) {
  margin-left: auto !important;
}
